<p id="notice"><%= notice %></p>

<h1 class="govuk-heading-l">Person Tags</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Person</th>
      <th scope="col" class="govuk-table__header">Tag</th>
      <th scope="col" class="govuk-table__header" colspan="3"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @person_tags.each do |person_tag| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= person_tag.person.current_name %></td>
        <td class="govuk-table__cell"><%= person_tag.tag.value %></td>
        <td class="govuk-table__cell"><%= link_to 'Show', person_tag %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_person_tag_path(person_tag) %></td>
        <td class="govuk-table__cell"><%= link_to 'Destroy', person_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Person Tag', new_person_tag_path %></p>
