<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :current_name %>
    <%= form.text_field :current_name %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.select :role_id, @roles.map {|role| [role.name, role.id]}.prepend(nil) %>
  </div>

  <div class="field">
    <%= form.label :seniority_id %>
    <%= form.select :seniority_id, @seniorities.map {|seniority| [seniority.name, seniority.id]}.prepend(nil) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
