<p id="notice"><%= notice %></p>

<h1 class="govuk-heading-l">People</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Current name</th>
      <th scope="col" class="govuk-table__header">Role</th>
      <th scope="col" class="govuk-table__header">Tags</th>
      <th scope="col" class="govuk-table__header" colspan="3"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @people.each do |person| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= link_to person.current_name, person %></td>
        <td class="govuk-table__cell"><%= person.seniority.name %> <%= person.role.name %></td>
        <td class="govuk-table__cell"><%= person.tags.map{ |tag| tag.value }.join(", ") %></td>
        <td class="govuk-table__cell"><%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to 'New Person', new_person_path %>
</p>
