<p id="notice"><%= notice %></p>

<p>
  <strong>Current name:</strong>
  <%= @person.current_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @person.role.name %>
</p>

<p>
  <strong>Seniority:</strong>
  <%= @person.seniority.name %>
</p>

<p>
  <strong>Tags:</strong>
</p>
<ul class="govuk-list govuk-list--bullet">
  <% @person.tags.each do |tag| %>
  <li><%= tag.value %></li>
  <% end %>
</ul>

<p>
  <%= link_to 'Edit', edit_person_path(@person) %>
  |
  <%= link_to 'Back', people_path %>
</p>
