<p id="notice"><%= notice %></p>

<h1 class="govuk-heading-l">Seniorities</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Prefix</th>
      <th scope="col" class="govuk-table__header">Sort index</th>
      <th scope="col" class="govuk-table__header" colspan="3"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @seniorities.each do |seniority| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= seniority.name %></td>
        <td class="govuk-table__cell"><%= seniority.prefix %></td>
        <td class="govuk-table__cell"><%= seniority.sort_index %></td>
        <td class="govuk-table__cell"><%= link_to 'Show', seniority %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_seniority_path(seniority) %></td>
        <td class="govuk-table__cell"><%= link_to 'Destroy', seniority, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Seniority', new_seniority_path %></p>
