<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seniority.name %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @seniority.prefix %>
</p>

<%= link_to 'Edit', edit_seniority_path(@seniority) %> |
<%= link_to 'Back', seniorities_path %>
