<h1 class="govuk-heading-l">SOP MkII</h1>
<p><strong>Work in progress:</strong> At the moment, this is primarily a learning project. Not everything will work, and it's not exactly well designed.</p>
<ul class="govuk-list govuk-list--bullet">
  <li><%= link_to "People", people_path %></li>
  <li><%= link_to "Roles", roles_path %></li>
  <li><%= link_to "Seniorities", seniorities_path %></li>
  <li><%= link_to "Teams", teams_path %></li>
  <li><%= link_to "Team assignments", team_assignments_path %></li>
  <li><%= link_to "Tags", tags_path %></li>
  <li><%= link_to "Person Tags", person_tags_path %></li>
</ul>
