<%= form_with(model: tag, local: true) do |form| %>
  <% if tag.errors.any? %>
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        <%= pluralize(tag.errors.count, "error") %> prohibited this person from being saved:
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <% tag.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="govuk-form-group">
    <%= form.label :value, class: "govuk-label" %>
    <%= form.text_field :value, class: "govuk-input govuk-!-width-one-half" %>
  </div>

  <div class="govuk-form-group">
    <%= form.submit class: "govuk-button" %>
  </div>
<% end %>
