<p id="notice"><%= notice %></p>

<h1 class="govuk-heading-l">Tags</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Value</th>
      <th scope="col" class="govuk-table__header" colspan="3"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @tags.each do |tag| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= tag.value %></td>
        <td class="govuk-table__cell"><%= link_to 'Show', tag %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td class="govuk-table__cell"><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Tag', new_tag_path %></p>
