<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @role.short_name %>
</p>

<p>
  <%= link_to 'Edit', edit_role_path(@role) %>
  |
  <%= link_to 'Back', roles_path %>
</p>
