<%= form_with(model: team_assignment, local: true) do |form| %>
  <% if team_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team_assignment.errors.count, "error") %> prohibited this team_assignment from being saved:</h2>

      <ul>
        <% team_assignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.select :person_id, @people.map {|person| [person.current_name, person.id]}.prepend(nil) %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.select :team_id, @teams.map {|team| [team.name, team.id]}.prepend(nil) %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.date_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.date_select :end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
