<p id="notice"><%= notice %></p>

<h1 class="govuk-heading-l">Team Assignments</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Role</th>
      <th class="govuk-table__header">Person</th>
      <th class="govuk-table__header">Tags</th>
      <th class="govuk-table__header">Team</th>
      <th class="govuk-table__header" colspan="3"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @team_assignments.each do |team_assignment| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= team_assignment.person.seniority.prefix %><%= team_assignment.person.role.short_name %></td>
        <td class="govuk-table__cell"><%= team_assignment.person.current_name %></td>
        <td class="govuk-table__cell"><%= team_assignment.person.tags.map {|tag| tag.value }.join(", ") %></td>
        <td class="govuk-table__cell"><%= team_assignment.team.name %></td>
        <td class="govuk-table__cell"><%= link_to 'Show', team_assignment %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_team_assignment_path(team_assignment) %></td>
        <td class="govuk-table__cell"><%= link_to 'Destroy', team_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Team Assignment', new_team_assignment_path %></p>
